ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
}

.wrapper {
  width: 375px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.mob-first {
  width: 100%;
  height: 812px;
  border-radius: 48px;
}

.menu-mob {
  z-index: 1;
  background-color: #1f1b33;
  position: relative;
}

.mob-menu-items {
  position: absolute;
  top: 217px;
  left: 27px;
  li {
    color: #fff;
    font-family: Helvetica;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27px;
    width: 126px;
    padding: 18px 30px;
  }
  li:first-child {
    padding-bottom: 57px;
    font-weight: 900;
  }
  li.selected {
    border-radius: 15.5px;
    background: rgba(252, 128, 116, 0.2);
    color: #fc8074;
  }
  li:last-child {
    border-top: 1px solid #84818e;
    padding-top: 57px;
    margin-top: 57px;
  }
}

.menu-mob-cover {
  z-index: 2;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

// Sets open / closed mobile menu
.closed {
  transform: rotate(0) translate(0);
  transition: 1s;
}

.open {
  transform: rotate(-7deg) translate(236px, 40px);
  transition: 1s;
}

.start {
  margin: 43px 0 0 36px;
  display: flex;

  li:first-child {
    width: 30px;
    height: 30px;
    position: relative;
    & > .burger {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 3.5px;
      background-color: #e8e5e5;
      &:before,
      &:after {
        content: "";
        position: absolute;
        border-radius: 3.5px;
        background-color: #e8e5e5;
        width: 100%;
        height: 4px;
      }
      &:before {
        top: -11px;
      }
      &:after {
        top: 11px;
      }
    }
  }

  li:last-child {
    color: #9f9fa0;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 33px;
    padding: 4px 0 0 35px;
  }
}
